<h1 style="text-align: center;"> JNET Student Portal </h1> <br>
<div style="text-align: center;"> <br>
    <h1 style="color:red ;"> Student Login </h1> <br>
    <div>
        <div>
            <form #formTem="ngForm" (ngSubmit)="SaveForm(formTem)">
                <div style="width: 10;" class="form-group mx-sm-5 mb-4">
                    <span>*</span>
                    <mat-label>User Name :</mat-label>
                    <mat-form-field appearance="outline">
                        <input [(ngModel)]="username" placeholder="Enter Username" type="text" class="form-control" name="userId"
                            #Usernametem="ngModel" [class.is-invalid]="Usernametem.invalid && Usernametem.touched"
                            required>
                        <small *ngIf="Usernametem.invalid && Usernametem.touched" class="text-danger"
                            style="color: red;">
                            Enter User Name
                        </small>
                    </mat-form-field>

                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <span>*</span>
                    <mat-label>PassWord :</mat-label>
                    <mat-form-field appearance="outline">
                        <input [(ngModel)]="password" placeholder="Enter Password" type="text" class="form-control" name="check"
                        #PassWordtem="ngModel" [class.is-invalid]="PassWordtem.invalid && PassWordtem.touched"
                        required>
                        <small *ngIf="PassWordtem.invalid && PassWordtem.touched" class="Error" style="color: red;">
                            Enter Password
                        </small>
                    </mat-form-field>
                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <button [disabled]="formTem.form.invalid" class="btn btn-primary" style="align-items: center;"
                        (click)="StudentLoginChecking(username,password)"> LOGIN</button>
                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <label style="color: cadetblue;"> To Create New Accout Register Here </label>
                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <button class="btn btn-info" routerLink="/studentregistration">Register</button>
                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <button class="btn btn-info" routerLink="/dashboard">Back</button>
                </div>
            </form>
        </div>
    </div>