.text-sucess{
    color: green;
}
.text.unsucess{
    color: red;
}
.text-special{
    font-family: Arial, Helvetica, sans-serif;
}
#div1{
 background-color: aqua;
}
mat-label{
    color: blue;
}
span{
    color: red;
}
.example-card {
    max-width: 400px;
  }
  /* mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}

mat-form-field {
    display: block;
    width: 40%;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    padding: 12px 10px;
    margin-left: -2%;
} */

input{
    width: 100%;
}