<h1 style="text-align: center;"> JNET Institutions Portal </h1>  <br>
<div style="text-align: center;"> <br>
      <h1 style="color:red ;"> Facality Registration </h1> <br>
       <div>
        <div>
            <form #form="ngForm"  (ngSubmit)="completeLogin(form)">
              <div  class="form-group mx-sm-5 mb-4">
                <span>*</span>
                <mat-label>Fisrt Name :</mat-label>
                <mat-form-field appearance="outline" >
                <input  
                type="text" 
                [(ngModel)]="facalityDetails.facaltyname"
                class="form-control"  
                name="FisrtNameId" 
                #FisrtNametemp="ngModel"
                placeholder="Enter First name "
                required
                [class.is-invalid]="FisrtNametemp.invalid && FisrtNametemp.touched"
                >
                <small style="color: red" *ngIf="FisrtNametemp.invalid && FisrtNametemp.touched">Enter user name</small>
                
              </mat-form-field>
            </div>
            <div  class="form-group mx-sm-5 mb-4">
              <span>*</span>
              <mat-label>Last Name:</mat-label>
              <mat-form-field appearance="outline" >
              <input 
              type="text" 
              [(ngModel)]="facalityDetails.lastname"
              class="form-control"  
              name="lastNameId" 
                #lastNametemp="ngModel"
                placeholder="Enter Last name "
                required
                [class.is-invalid]="lastNametemp.invalid && lastNametemp.touched"
              >
              <small *ngIf="lastNametemp.invalid && lastNametemp.touched" class="text-danger"
              style="color: red;">
              Enter Last Name
              </small>
              </mat-form-field>
          </div>
          <div   class="form-group mx-sm-5 mb-4">
            <span>*</span>
            <mat-label>Phone Number:</mat-label>
            <mat-form-field appearance="outline" >
            <input 
            type="tel" 
            [(ngModel)]="facalityDetails.phone" 
            class="form-control"  
            name="rollId" 
            #rolltem="ngModel"
            placeholder="Enter Phone Number "
            required
            [class.is-invalid]="rolltem.invalid && rolltem.touched" 
            ><small *ngIf="rolltem.invalid && rolltem.touched" class="Error"
            style="color: red;">
            Enter Phone Number
            </small>
            </mat-form-field>
        </div>
        <div   class="form-group mx-sm-5 mb-4">
            <span>*</span>
            <mat-label>Email:</mat-label>
            <mat-form-field appearance="outline" >
            <input 
            type="tel" 
            [(ngModel)]="facalityDetails.email" 
            class="form-control"  
            name="email" 
            #emailtem="ngModel"
            placeholder="Enter Email "
            required
            [class.is-invalid]="emailtem.invalid && emailtem.touched" 
            ><small *ngIf="emailtem.invalid && emailtem.touched" class="Error"
            style="color: red;">
            Enter Email Id
            </small>
            </mat-form-field>
        </div>
        <div   class="form-group mx-sm-5 mb-4">
          <span>*</span>
          <mat-label>Department :</mat-label>
          <mat-form-field appearance="outline" >
          <input 
          type="text" 
          [(ngModel)]="facalityDetails.departmentId" 
          class="form-control"  
          name="courseId" 
          #coursetem="ngModel"
          placeholder="Enter Department"
          required
          [class.is-invalid]="coursetem.invalid && coursetem.touched"
          ><small *ngIf="coursetem.invalid && coursetem.touched" class="Error"
          style="color: red;">
          Select Department
          </small>
          </mat-form-field>
      </div>
      <div>
        <!-- <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select >
                <mat-option>Select</mat-option>
                <mat-option  *ngFor="let items of departmentList">{{items.department1}}</mat-option>
              </mat-select>
        </mat-form-field> -->
        <button class="btn btn-primary" (click)="ShowDepartments()">Show department</button> <br>
        <label>Department</label>
       
        <table>
            <tr>
                <th>Department</th>
            </tr>
            <tr *ngFor="let items of departmentList"> 
                <td>{{items.department1}}</td>
            </tr>
        </table>
      </div>
        
                <div  class="form-group mx-sm-5 mb-4">
                    <span>*</span>
                    <mat-label>User Name :</mat-label>
                    <mat-form-field appearance="outline" >
                    <input 
                    type="text" 
                    [(ngModel)]="facalityDetails.username"
                    class="form-control"  
                    name="userId" 
                    #usertem="ngModel"
                    placeholder="Enter user name "
                    required
                    [class.is-invalid]="usertem.invalid && usertem.touched" 
                    >
                    <small *ngIf="usertem.invalid && usertem.touched" class="text-danger"
                    style="color: red;">
                    Enter User Name
                    </small>
                    </mat-form-field>
                </div>
                <div class="form-group mx-sm-5 mb-4">
                    <span>*</span>
                    <mat-label>PassWord :</mat-label>
                    <mat-form-field appearance="outline" >
                    <input 
                    type="text"
                    [(ngModel)]="facalityDetails.password" 
                    class="form-control"  
                    name="password" 
                    #passwordtem="ngModel"
                    placeholder="Enter password "
                    required
                    [class.is-invalid]="passwordtem.invalid && passwordtem.touched"
                    ><small *ngIf="passwordtem.invalid && passwordtem.touched" class="Error"
                    style="color: red;">
                    Enter Password
                    </small>
                    </mat-form-field>
                </div>
                <!-- <div   class="form-group mx-sm-5 mb-4">
                  <span>*</span>
                  <mat-label>Confirm PassWord :</mat-label>
                  <mat-form-field appearance="outline" >
                  <input 
                  type="text" 
                  [(ngModel)]="studentDetails.confirmPassword" 
                  class="form-control"  
                  name="conpws" 
                  #conpwstem="ngModel"
                  placeholder="Enter Confirm PassWord "
                  required
                  [class.is-invalid]="conpwstem.invalid && conpwstem.touched"
                  ><small *ngIf="conpwstem.invalid && conpwstem.touched" class="Error"
                  style="color: red;">
                  Enter Confirm Password
                  </small>
                  </mat-form-field>
              </div> -->
              
                <div class="form-group mx-sm-5 mb-4">
                    <button class="btn btn-primary"
                    style="align-items: center;"
                    (click)="InsertStudentRegDetails(facalityDetails)"
                    [disabled]="form.form.invalid"
                    > SUBMITE</button>
                    <button style="margin-left: 3%;" class="btn btn-info"
                     routerLink="/facalitylogin" >Back to Login</button>
                </div>
            </form>
        </div>
    </div>
