<div>
    <div><h1 style="text-align: center;"> JNET Institutions Portal </h1> </div><br>
    <div style="text-align: center;">
        <h4 style="color: red;">Select Which One Your to Login ?</h4> <br>
       <div><button routerLink="/studentlogin" class="btn btn-primary">I'am Student</button></div>  <br>
       <div><button routerLink="/facalitylogin"  class="btn btn-primary">I'am Faculty</button></div><br>
        <button class="btn btn-primary">I'am Student</button> <br><br>
    </div>
</div>
